{% extends 'base.html.twig' %}

{% block body %}
    <div class="top-main-buffer"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans from "security" %}user_reset.heading{% endtrans %}</h1>
            </div>
        </div>
        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_row(form.email) }}

        {{ form_row(form.captchaCode) }}

        <button type="submit" class="btn btn-success">
            {% trans from "form" %}restore.btn{% endtrans %}
            <span class="fa fa-lock"></span>
        </button>

        {{ form_end(form) }}
    </div>
{% endblock %}

